# Lesson 5: Mutliple tables and relationships

## Learning intentions
- Understand database normalisation and why it matters
- Design one-to-many relationships
- Create related tables with foreign keys
- Link tables together properly
- Avoid data duplication
- Build many-to-many relationships with junction tables

## Why use multiple tables?

Currently, our `characters` table stores homeworld as TEXT. This creates problems:

### Problems with Single Table Design:

1. **Duplication:** "Tatooine" is stored multiple times
2. **Inconsistency:** One entry might say "Tatooine", another "tatooine"
3. **Limited information:** We can't store climate, population, etc.
4. **Update issues:** Changing planet name requires updating many rows

### Solution: Use Multiple Related Tables!

Instead of storing planet names repeatedly, we:
- Create a `planets` table with all planet information
- Store only a planet ID in the `characters` table
- Link characters to planets using that ID

## Understanding database relationships

### One-to-Many Relationship

**Definition:** One record in Table A relates to many records in Table B.

**Examples:**
- **One planet → Many characters** (many characters from one planet)
- One customer → Many orders
- One author → Many books

### Many-to-Many Relationship

**Definition:** Multiple records in Table A relate to multiple records in Table B.

**Examples:**
- **Many characters → Many vehicles** (characters pilot multiple vehicles, vehicles have multiple pilots)
- Many students → Many courses
- Many actors → Many movies

## Primary Key vs Foreign Key

| Key Type | Purpose | Example |
|----------|---------|---------|
| **Primary Key** | Uniquely identifies each row in a table | `id` in `planets` table |
| **Foreign Key** | References a primary key in another table | `homeworld_id` in `characters` table |

## Example

### `characters` table:
| id (PRIMARY KEY) | name | homeworld_id (FOREIGN KEY) |
-------------------|------|----------------------------|
| 1 | Luke Skywalker | 1 |
| 2 | Darth Vader | 1 |

### `planets` table:
| id (PRIMARY_KEY) | name | climate |
|------------------|------|---------|
| 1 | Tatooine | arid |
| 2 | Aldeeraan | temperate |

Both Luke and Vader have `homeworld_id = 1`, which points to Tatooine. 

This is better than our previous example, as more information could be provided through the `FOREIGN KEY`.

## Connect to Database

Run the next 2 cells. It should setup everything for you:

In [ ]:
# Load SQL magic extension
%load_ext sql

# Fix prettytable compatibility issue
import prettytable
try:
    # Try to access DEFAULT to see if it exists
    _ = prettytable.DEFAULT
except AttributeError:
    # If it doesn't exist, add it using SINGLE_BORDER
    from prettytable import SINGLE_BORDER
    prettytable.DEFAULT = SINGLE_BORDER

# Configure SQL magic settings
%config SqlMagic.autopandas = False
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = False

In [ ]:
%sql sqlite:///starwars.db

## Design Reference

These are the tables you will have to make:

- `planets`
    - Columns: id, name, climate, population
- `vehicles`
    - Columns: id, name, model, manufacturer, cost
- `characters`
    - Columns: id, name, species, homeworld (reference `planets.id`), height
- `character_vehicles`: Used as a way to link both the characters and vehicles. 
    - Columns: character_id, vehicle_id

## Sample Data
| name | climate | terrain | population |
|--|--|--|--|
| Tatooine | arid | desert | 200000 |
| Alderaan | temperate | grasslands, mountains | 2000000000 |
| Hoth | frozen | tundra, ice caves | Null |
| Kashyyyk | tropical | jungle, forests | 45000000 |
| Naboo | temperate | grassy hills, swamps | 4500000000 |
| Corellia | temperate | plains, urban | 3000000000 |
| Stewjon | temperate | grass | Null |
| Unknown | Null | Null | Null |

## SQL Schema

### Creating tables

To be able to create a new table, you would have to specify the different columns:

```sql
CREATE TABLE IF NOT EXISTS name (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    --- the rest of your data
    p0 TEXT NOT NULL UNIQUE,
    p1 TEXT,
    p2 INTEGER,
);
```

Using `UNIQUE` tells SQL that the `name` must be unique, else it should error out. That is why if you try to add 'Tatooine' twice, it will error out.

### Inserting data

Now you need to populate/insert data into your table:

```sql
INSERT INTO name (p0, p1, p2) VALUES
    ("foo", "bar", 420),
    ("thingy", "mabob", 42);
```

ensure you add in `INSERT INTO` as one phrase, as without `INTO`, you are not specifying where to insert the data.

### Viewing data
You should already know this by heart, but just as a refresher: 

```sql
SELECT * FROM name;
```

## Your turn!

### 1. Create the `planets` table

In [ ]:
%%sql

### 2. Insert data

In [ ]:
%%sql

### 3. Check if everything is correct (query)

In [ ]:
%%sql

Everything is as expected? That's great!

## Linking the characters to planets

So far, you now have two tables: `characters`, and now your recently made `planets`, however you need to link the two together. This is done with some new keywords: 

`ALTER TABLE` and `ADD COLUMN`

Here's how it works:

```sql
ALTER TABLE name ADD COLUMN p4 INTEGER;
```

### Explanation
`ALTER TABLE` is used to (obviously) alter a specific table, as given by `name`. You would need to `ADD COLUMN` to the table to expand it, and add column `p4` of the type `INTEGER`. 

In this case, it is just an example. However you could make the expanded column to be an external id (maybe such that it is `planets.id`?). 

### Your turn!

In [ ]:
%%sql
--- Add the homeworld_id column to the characters column. 



SELECT * FROM characters;

UsageError: Cell magic `%%sql` not found.

And as a side note: if you want to query your table after any command, just recall your viewing data query and add it after (add a semicolon).

## Updating characters

Now, you need to update the values, as the homeworld_id has not been populated. This is a _bit_ tedious and manual, but just get it through (or just use Ctrl+C like a smart person). 

```sql
UPDATE name 
SET p4 = (SELECT id FROM other_table WHERE p0 = 'thing1') 
WHERE p1 = "bar";
```

### Explanation

The `UPDATE` keyword tells the database that you want to update a value in the table `name`. 

`SET` is used to set a value in that column. That other part after the `=` is a subquery, and in this case, it queries from `other_table` table where `p0` is equal to 'thing1'. 

`WHERE` restricts the rows where it would be updated. 

### Your turn!
Now, you will want to update the `characters` table by setting your newly created `homeworld_id` to be the `id` of the planet from the `planets` table.

In [2]:
%%sql
-- Write below


-- Now verify the links:
SELECT id, name, homeworld, homeworld_id FROM characters;

UsageError: Cell magic `%%sql` not found.